*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}
body{
    font-family: "MillerDisplay, Light , sans-serif";
    background-color: #000000;
    color: white;
}
nav{
    font-family: "Maison Neue, sans-serif";
    background-color: black;
}
.white{
    color: white;
}
h1{
    font-size: 5rem;
    margin-top: 5rem;
    margin-left: 12rem;
}
.text{
    font-size: 2.5rem;
    margin-left:12rem ;
    font-weight: lighter;
}
span{
    color: yellow;
}
iframe{
    border: 1px solid #565656;
    padding: 2rem;
    width: 1000px;
    height:700px;

}
@media (min-width: @screen-sm-min) { 
    iframe{
        width: 510px;
        height: 286px;
    }
 }
h4{
    color: #565656;
    margin-bottom: 1rem;
}
.footer{
    margin-top: 5rem;
    display: flex;
    margin-bottom: 3rem;
}
 li{
    text-decoration: none;
    list-style: none;
}
.l2{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;

}
.l3{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;

}
.form{
    display: flex;
    justify-content:end;
    margin-left: 15rem;
    
}
.row{
    margin-left: 15rem;
}
input{
    background-color: black;
}
.btn1{
    display: inline-flex;
}